@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

button {
  cursor: pointer;
  font: inherit;
  background: rgb(26, 116, 206);
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  color: white;
  transition: background ease 0.3s;
}

button:hover,
button:active {
  background: rgb(65, 159, 253);
}
